
 .Contact {
    font-family: Arial, sans-serif;
    padding: 20px;
    width: 50%;
    margin: auto;
  }
  
  .Contact-body {
    background-color: #ffffff;
    background-color: #c9c7c7;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .Contact-heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .Contact-form label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
  
  .Contact-form input,
  .Contact-form textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #c9c7c7;
  }
  
  .Contact-form textarea {
    resize: vertical;
  }
  
  .Contact-form input[type="text"]:focus,
  .Contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .Contact-form button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .Contact-form button:hover {
    background-color: #0056b3;
  }
  