.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  width: 65%;
  background-color: #c9c7c7;
  border-radius: 8px;
  padding: 2px;
}

.error-image img {
  max-width: 100%;
  height: auto;
}

.error-text {
  text-align: center;
  margin-top: 20px;
}

.error-heading {
  font-size: 24px;
  color: #d9534f; /* Red color for error message */
  margin-top: 10px;
}
